/* Timeline and tags article */

.timeline_tags_article {
    display: flex;
    justify-content: center;
}

.timeline_tags_div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 56px;
    max-width: 1440px;
    width: 100%;
    position: relative;
}

.tags_sidebar_aside {
    position: sticky;
    top: 150px;
    width: 400px;
    height: auto;
    z-index: 3;
}

.timeline_tags_div_sticky {
    position: sticky;
    top: 150px;
    bottom: 30px;
    background-color: darkgreen;
    border-radius: 36px;
    z-index: 3;
}

.timeline_tags_div_flex {
    display: flex;
    height: 100%;
    border-radius: 36px 0px 0px 36px;
    background: var(--Light-Blue, #EDF3FC);
    box-shadow: 0px 0px 100px 0px #FFF;
}

.timeline_tags_filter_div {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
    width: 100%;
}

.timeline_calendar_search_div {
    display: flex;
    align-items: center;
    width: 100%;
    height: 64px;
    padding: 12px;
    border-radius: 36px;
    border: 1px #9E9E9E solid;
    gap: 16px;
    transition: all 0.3s ease-out;
}



/* Dropdown select option with div tag */

/* .timeline_calendar_dropdown {
    display: flex;
    width: 181px;
    padding: 4px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 20px;
    background: var(--Black, #141919);
} */

/*.timeline_calendar_option {
    display: flex;
    padding: 9px 20px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 24px;
    color: var(--White, #FFF);
    font-family: Inter, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
} */


.timeline_calendar_select_div {
    position: relative;
}

.timeline_calendar_div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: max-content;
    /* padding-right: 9px; */
    border-radius: 24px;
    background: #141919;
    cursor: pointer;
    white-space: nowrap;
    font-family: Inter, serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    transition: all 0.4s linear;
    position: relative;
}

.timeline_calendar {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    border: none;
    width: 180px;
    background: #141919;
    transition: all 0.4s linear;
    outline: none;
    padding: 9px 20px 9px 20px;
    border-radius: 24px;
    cursor: pointer;
    position: absolute;
    top: 50px;
    left: 0px;
}

.timeline_calendar_div:hover:hover {
    background: var(--Dark-Grey, #3C3C3C);
}

.timeline_calendar_option {
    display: flex;
    padding: 9px 20px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 24px;
    background: #141919;
    color: var(--White, #FFF);
    font-family: Inter, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    cursor: pointer;
    user-select: none;
}

.timeline_calendar_option:hover {
    background: var(--Dark-Grey, #3C3C3C);
}

.timeline_current_calendar {
    display: flex;
    justify-content: space-between;
    width: 180px;
    /* flex-direction: column; */
    color: #FFFFFF;
    /* border: none; */
    background: #141919;
    transition: all 0.4s linear;
    outline: none;
    padding: 9px 20px 9px 20px;
    border-radius: 24px;
    cursor: pointer;
}

.timeline_dropdown_div {
    display: none;
    flex-direction: column;
    background: #141919;
    border-radius: 24px;
    color: #FFFFFF;
    /* display: flex; */
    width: 180px;
    padding: 4px;
    position: absolute;
    top: 45px;
    left: 0px;
    /* flex-direction: column; */
    /* align-items: flex-start; */
}

/* For selected option style */

/* .timeline_calendar_option.selected {
    background-color: #e0e0e0;
} */

/* .{

} */


.timeline_dropdown_arrow_div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
}

.timeline_search_input_div {
    display: flex;
    justify-content: flex-start;
    gap: 12px;
    width: 100%;
}

.timeline_search_input {
    width: 100%;
    border: none;
    outline: none;
    font-family: Inter, serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #9E9E9E;
    background: rgba(0, 0, 0, 0);
}

.search_max_vector_div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search_max_vector {
    display: none;
    cursor: pointer;
}

.timeline_main_tags_div {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.timeline_categories_projects_tags_div_flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 20px;
    overflow: auto;
}


.timeline_categories_projects_tags_div_flex::-webkit-scrollbar {
    width: 40px;
    height: 8px;
}

.timeline_categories_projects_tags_div_flex::-webkit-scrollbar-thumb {
    background: var(--Dark-Grey, #3C3C3C);
    border-radius: 30px;
}

.timeline_categories_projects_tags_div_flex::-webkit-scrollbar-track {
    border-radius: 16px;
    border: 1px solid var(--Grey, #C4C6CA);
}

.timeline_categories_projects_tags_div_flex::-webkit-scrollbar-thumb:hover {
    border: 2px orange solid;
}

.timeline_categories_projects_tags_div_flex::-webkit-scrollbar-thumb:active {
    border: 2px orange solid;
}

.timeline_categories_projects_tags_flex {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 12px;
    flex-wrap: wrap;
    width: 1440px;
}

.timeline_categories_projects_tags_div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    overflow: auto;
}

.timeline_categories_projects_tags_title {
    color: var(--Black, #141919);
    font-family: Inter, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

/* Button Apply */

.timeline_tags_apply_button_div {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.timeline_tags_apply_button {
    padding: 12px 24px;
    border-radius: 24px;
    background: var(--Orange, #FE6A25);
    border: none;
    width: 100%;
    color: var(--White, #FFF);
    font-family: Inter, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


/* Shevron div style */

.timeline_tags_shevron_div {
    display: flex;
    padding: 40px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    background: var(--Light-Grey, #F8F8F8);
    border-radius: 0px 36px 36px 0px;
    cursor: pointer;
}

/* For sticky sidebar */

.for_sidebar_sticky{
    /* width: 1px;  */
    background: darkgreen; 
    height: 1600px;
}

/* Timeline title div */

.timeline_div_flex {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
}

.timeline_title_div {
    display: flex;
    align-items: center;
    gap: 40px;
    align-self: stretch;
}

.timeline_title {
    color: #000;
    font-family: Inter, serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.timeline_divider {
    width: 100%;
    min-width: 200px;
}

/* Vertical line and dates */

.projects_section {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.project_section_vertical_line_orange_circle_div {
    display: flex;
    padding-top: 8px;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}

.project_section_vertical_line_div {
    margin-top: -4px;
    height: 100%;
    width: 1px;
    background-color: var(--Grey-2, #9E9E9E);
}

/* News rojects section  */

.news_project_article_flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 28px;
}

.news_projects_items_div {
    display: flex;
    align-items: flex-start;
    gap: 28px;
    flex: 1 0 0;
}

.news_project_section_date_items_div {
    display: flex;
    flex-direction: column;
    gap: 28px;
    justify-content: flex-start;
    align-items: flex-start;
}

.news_project_section_date_m_d {
    display: flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 24px;
    border: 1px solid var(--Orange, #FE6A25);
    color: var(--Dark-Grey, #3C3C3C);
    font-family: Inter, serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.news_project_div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: var(--Light-Grey, #F8F8F8);
    position: relative;
}

.news_project_item_time {
    display: flex;
    padding: 2px 6px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    left: -53px;
    top: 0px;
    border-radius: 24px;
    background: var(--White, #FFF);
    color: var(--Grey-2, #9E9E9E);
    font-family: Inter, serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.news_project_image {
    display: flex;
    padding: 16px;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 56px;
    align-self: stretch;
    width: 100%;
    max-width: 280px;
    border-radius: 20px 0px 0px 20px;
    background: url("../../img/timelineTags/news_project_image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.news_project_description_tags_div {
    display: flex;
    padding: 16px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
}

.news_project_description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.news_project_description_title {
    height: 56px;
    align-self: stretch;
    overflow: hidden;
    color: var(--Black, #141919);
    text-overflow: ellipsis;
    font-family: Inter, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

.news_project_description_text {
    height: 66px;
    align-self: stretch;
    overflow: hidden;
    color: var(--Dark-Grey, #3C3C3C);
    text-overflow: ellipsis;
    font-family: Inter, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.news_project_tags_share_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.news_project_tags_div {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}