{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <h1>Рейтинг компаний</h1>

    <!-- Форма фильтров -->
    <form method="GET">
        <label for="sort_by">Сортировать по:</label>
        <select name="sort_by" id="sort_by">
            <option value="date_added">Дата добавления</option>
            <option value="security_score">Оценка безопасности</option>
            <option value="team_score">Оценка команды</option>
            <option value="product_score">Оценка продукта</option>
            <option value="total_score_avg">Средний балл</option>
        </select>

        <label for="sort_order">Порядок сортировки:</label>
        <select name="sort_order" id="sort_order">
            <option value="asc">По возрастанию</option>
            <option value="desc">По убыванию</option>
        </select>

        <input type="submit" value="Применить фильтры">
    </form>

    <!-- Таблица рейтинга компаний -->
    <table border="1">
        <thead>
            <tr>
                <th></th>
                <th>Название</th>
                <th>Тикер</th>
                <th>Оценка безопасности</th>
                <th>Оценка команды</th>
                <th>Оценка продукта</th>
                <th>Средний балл</th>
                <th>Дата добавления</th>
            </tr>
        </thead>
        <tbody>
            {% for company in companies %}
            <tr>
                <td>
                    {% if company.image %}
                        <img src="{{ company.image.url }}" width="50">
                    {% else %}
                        <img src="{% static 'img/default_image.jpg' %}" width="50">
                    {% endif %}</td>
                <td><a class="icon-link" href="{% url 'company_detail' company.id %}">{{ company.name }}</a></td>
                <td>{{ company.ticker }}</td>
                <td>{{ company.security_score }}</td>
                <td>{{ company.team_score }}</td>
                <td>{{ company.product_score }}</td>
                <td>{{ company.total_score_avg|default:"0"|floatformat:"0" }}</td>
                <td>{{ company.date_added|date:"M Y" }}</td>
            </tr>
            <tr>
                <td colspan="8">{{ company.description }}</td>
            </tr>
            <tr>
                <td colspan="8">
                    {% if company.link %}
                        <a target="_blank" href="{{ company.link }}">{{ company.link }}</a></td>
                    {% else %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td colspan="8">
                    {% if company.link %}
                        <a target="_blank" href="{{ company.link }}">{{ company.github }}</a></td>
                    {% else %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td colspan="8">
                    {% for tag in company.tag_rating.all %}
                        <a class="btn btn-light btn-sm mb-1" href="{% url 'tag_projects_result' tag=tag %}">{{ tag }}</a>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
