{% extends 'blog/base.html' %}

{% load static %}

{% block content %}

  <div class="container">

    <article class="slider_scoring_projects_article">
      <div class="slider_scoring_projects_div_flex">
        <div class="slider_scoring_projects_div">
          <div class="slider_div_flex">

            <article>

              <div class="glider-contain">
                <div class="glider-main-slider">
   
                <div class="slider_div">
                  <div class="slider_background_tags_date_div">
                    <div class="slider_tags_date_div">
                      <div class="sm_tag_item">ASIA</div>
                      <div class="sm_tag_item">BTC</div>
                    </div>
                    <div class="slider_date_div">
                      <p class="slider_date">23 min ago</p>
                    </div>
                  </div>
              
                  <div class="slider_description_buttons_div">
                    <div class="slider_description_div">
                      <h2 class="slider_description_title">Asia's crypto regulatory landscape changed in 2023 with Hong Kong at the lead</h2>
                      <p class="slider_description_description">In June, Hong Kong officially started its crypto licensing regime for virtual asset trading platforms, allowing licensed exchanges to offer retail trading services. The regulator has granted such licenses to HashKey and OSL.</p>
                    </div>
              
                  </div>
                </div> 
              
                <div class="slider_div">
                  <div class="slider_background_tags_date_div">
                    <div class="slider_tags_date_div">
                      <div class="sm_tag_item">ASIA</div>
                      <div class="sm_tag_item">BTC</div>
                    </div>
                    <div class="slider_date_div">
                      <p class="slider_date">23 min ago</p>
                    </div>
                  </div>
              
                  <div class="slider_description_buttons_div">
                    <div class="slider_description_div">
                      <h2 class="slider_description_title">Asia's crypto regulatory landscape changed in 2023 with Hong Kong at the lead</h2>
                      <p class="slider_description_description">In June, Hong Kong officially started its crypto licensing regime for virtual asset trading platforms, allowing licensed exchanges to offer retail trading services. The regulator has granted such licenses to HashKey and OSL.</p>
                    </div>
              
                  </div>
                </div>
              
                <div class="slider_div">
                  <div class="slider_background_tags_date_div">
                    <div class="slider_tags_date_div">
                      <div class="sm_tag_item">ASIA</div>
                      <div class="sm_tag_item">BTC</div>
                    </div>
                    <div class="slider_date_div">
                      <p class="slider_date">23 min ago</p>
                    </div>
                  </div>
              
                  <div class="slider_description_buttons_div">
                    <div class="slider_description_div">
                      <h2 class="slider_description_title">Asia's crypto regulatory landscape changed in 2023 with Hong Kong at the lead</h2>
                      <p class="slider_description_description">In June, Hong Kong officially started its crypto licensing regime for virtual asset trading platforms, allowing licensed exchanges to offer retail trading services. The regulator has granted such licenses to HashKey and OSL.</p>
                    </div>
              
                  </div>
                </div>
                
                <div class="slider_div">
                  <div class="slider_background_tags_date_div">
                    <div class="slider_tags_date_div">
                      <div class="sm_tag_item">ASIA</div>
                      <div class="sm_tag_item">BTC</div>
                    </div>
                    <div class="slider_date_div">
                      <p class="slider_date">23 min ago</p>
                    </div>
                  </div>
              
                  <div class="slider_description_buttons_div">
                    <div class="slider_description_div">
                      <h2 class="slider_description_title">Asia's crypto regulatory landscape changed in 2023 with Hong Kong at the lead</h2>
                      <p class="slider_description_description">In June, Hong Kong officially started its crypto licensing regime for virtual asset trading platforms, allowing licensed exchanges to offer retail trading services. The regulator has granted such licenses to HashKey and OSL.</p>
                    </div>
              
                  </div>
                </div>
              </div>

              
                  <div class="slider_btns_share_btn_div" id="20">
                    <div role="tablist" class="dots"></div>

                    <div class="share_icon_style" onclick="openShareDropdown(20)"></div>

                  <div class="share_dropdown_div" id="share_dropdown_div">
                    <div class="share_dropdown_item">
                      <img src="{% static 'img/share/copy_link.svg' %}" alt="link_icon" />
                      <p class="share_dropdown_item_text">Copy link</p>
                    </div>
              
                    <div class="share_dropdown_item">
                      <img src="{% static 'img/share/linkedin_icon.svg' %}" alt="link_icon" />
                      <p class="share_dropdown_item_text">LinkedIn</p>
                    </div>
              
                    <div class="share_dropdown_item">
                      <img src="{% static 'img/share/telegram_icon.svg' %}" alt="link_icon" />
                      <p class="share_dropdown_item_text">Telegram</p>
                    </div>
              
                    <div class="share_dropdown_item">
                      <img src="{% static 'img/share/twitter_icon.svg' %}" alt="link_icon" />
                      <p class="share_dropdown_item_text">Twitter</p>
                    </div>
                  </div>

                  </div>

              </div>
              
              </article>

          </div>

          {% comment %}Project scoring{% endcomment %}

          <div class="project_scoring_div_flex">
            <div class="project_scoring_div">
              <h2 class="project_scoring_title">Projects Scoring</h2>

              <div class="project_scoring_items_div">

                {% comment %}ITEM 1{% endcomment %}

                <div class="project_scoring_item">
                  <div class="project_scoring_item_logo_name_points_div">
                    <div class="project_scoring_item_logo_div">
                      <img src="{% static 'img/main/project_icon.png' %}" class="project_scoring_item_logo" alt="star_icon" />
                    </div>

                    <div class="project_scoring_item_name_points_div">
                      <div class="project_scoring_item_name_div">
                        <h3 class="project_scoring_item_fullname">Binance</h3>
                        <p class="project_scoring_item_shortname">BSC</p>
                      </div>

                      <div class="project_scoring_item_points_div">
                        <img src="{% static 'img/main/star.svg' %}" width="24px" height="24px" alt="star_icon" />

                        <div class="project_scoring_item_points">
                          <span class="project_scoring_item_points_number">89</span>
                          <span class="project_scoring_item_points_text">TPS</span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="project_scoring_item_triangle_image_div">
                    <div class="project_scoring_item_triangle_top_text">
                      <p class="project_scoring_item_triangle_p_text">Product</p>
                    </div>
                    <img src="{% static 'img/main/project_params_triangle.svg' %}" width="86px" height="86px" alt="triangle_icon" />
                    <div class="project_scoring_item_triangle_bottom_text">
                      <p class="project_scoring_item_triangle_p_text">Team</p>
                      <p class="project_scoring_item_triangle_p_text">Security</p>
                    </div>
                  </div>
                </div>

                {% comment %}ITEM 2{% endcomment %}

                <div class="project_scoring_item">
                  <div class="project_scoring_item_logo_name_points_div">
                    <div class="project_scoring_item_logo_div">
                      <img src="{% static 'img/main/project_icon.png' %}" class="project_scoring_item_logo" alt="star_icon" />
                    </div>

                    <div class="project_scoring_item_name_points_div">
                      <div class="project_scoring_item_name_div">
                        <h3 class="project_scoring_item_fullname">Binance</h3>
                        <p class="project_scoring_item_shortname">BSC</p>
                      </div>

                      <div class="project_scoring_item_points_div">
                        <img src="{% static 'img/main/star.svg' %}" width="24px" height="24px" alt="star_icon" />

                        <div class="project_scoring_item_points">
                          <span class="project_scoring_item_points_number">89</span>
                          <span class="project_scoring_item_points_text">TPS</span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="project_scoring_item_triangle_image_div">
                    <div class="project_scoring_item_triangle_top_text">
                      <p class="project_scoring_item_triangle_p_text">Product</p>
                    </div>
                    <img src="{% static 'img/main/project_params_triangle.svg' %}" width="86px" height="86px" alt="triangle_icon" />
                    <div class="project_scoring_item_triangle_bottom_text">
                      <p class="project_scoring_item_triangle_p_text">Team</p>
                      <p class="project_scoring_item_triangle_p_text">Security</p>
                    </div>
                  </div>
                </div>

                {% comment %}ITEM 3{% endcomment %}

                <div class="project_scoring_item">
                  <div class="project_scoring_item_logo_name_points_div">
                    <div class="project_scoring_item_logo_div">
                      <img src="{% static 'img/main/project_icon.png' %}" class="project_scoring_item_logo" alt="star_icon" />
                    </div>

                    <div class="project_scoring_item_name_points_div">
                      <div class="project_scoring_item_name_div">
                        <h3 class="project_scoring_item_fullname">Binance</h3>
                        <p class="project_scoring_item_shortname">BSC</p>
                      </div>

                      <div class="project_scoring_item_points_div">
                        <img src="{% static 'img/main/star.svg' %}" width="24px" height="24px" alt="star_icon" />

                        <div class="project_scoring_item_points">
                          <span class="project_scoring_item_points_number">89</span>
                          <span class="project_scoring_item_points_text">TPS</span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="project_scoring_item_triangle_image_div">
                    <div class="project_scoring_item_triangle_top_text">
                      <p class="project_scoring_item_triangle_p_text">Product</p>
                    </div>
                    <img src="{% static 'img/main/project_params_triangle.svg' %}" width="86px" height="86px" alt="triangle_icon" />
                    <div class="project_scoring_item_triangle_bottom_text">
                      <p class="project_scoring_item_triangle_p_text">Team</p>
                      <p class="project_scoring_item_triangle_p_text">Security</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="project_view_all_div">
              <a><button class="project_view_all_button">View all projects</button></a>
            </div>
          </div>
        </div>
      </div>
    </article>

    {% comment %}Slider Editor Pick{% endcomment %}

    <article class="editor_pick_article">
      <section class="editor_pick_div">

        <div class="editor_pick_title_buttons">
          <h2 class="editor_pick_title">Editor Pick</h2>

          <div class="editor_pick_buttons">
            <div class="editor_pick_button glider-prev-edit" aria-label="Previous">
              <img src="{% static 'img/editorPick/pick_slider_left_button.svg' %}" alt="editor_pick_left_button" />
            </div>
            <div class="editor_pick_button glider-next-edit" aria-label="Next">
              <img src="{% static 'img/editorPick/pick_slider_right_button.svg' %}" alt="editor_pick_right_button" />
            </div>
          </div>
        </div>

        <div class="glider-contain">
          <div class="glider">
            
            <div class="editor_pick_item" id="6">
              <div class="editor_pick_item_image">
                <div class="editor_pick_item_date">23 min ago</div>
              </div>
              <div class="editor_pick_item_description_div">
                <div class="editor_pick_item_description_text">Asia's crypto regulatory landscape changed in 2023 with Hong Kong at the lead</div>
                <div class="editor_pick_item_tags_div">
                  <div class="editor_pick_item_tags">
                    <div class="sm_tag_item">ASIA</div>
                    <div class="sm_tag_item">BTC</div>
                  </div>

                  <div class="share_icon_style" onclick="openShareDropdown(6)"></div>

                  <div class="share_dropdown_div" id="share_dropdown_div">
                    <div class="share_dropdown_item">
                      <img src="{% static 'img/share/copy_link.svg' %}" alt="link_icon" />
                      <p class="share_dropdown_item_text">Copy link</p>
                    </div>
              
                    <div class="share_dropdown_item">
                      <img src="{% static 'img/share/linkedin_icon.svg' %}" alt="link_icon" />
                      <p class="share_dropdown_item_text">LinkedIn</p>
                    </div>
              
                    <div class="share_dropdown_item">
                      <img src="{% static 'img/share/telegram_icon.svg' %}" alt="link_icon" />
                      <p class="share_dropdown_item_text">Telegram</p>
                    </div>
              
                    <div class="share_dropdown_item">
                      <img src="{% static 'img/share/twitter_icon.svg' %}" alt="link_icon" />
                      <p class="share_dropdown_item_text">Twitter</p>
                    </div>
                  </div>


                </div>
              </div>
            </div>

            <div class="editor_pick_item" id="13">
              <div class="editor_pick_item_image">
                <div class="editor_pick_item_date">23 min ago</div>
              </div>
              <div class="editor_pick_item_description_div">
                <div class="editor_pick_item_description_text">Asia's crypto regulatory landscape changed in 2023 with Hong Kong at the lead</div>
                <div class="editor_pick_item_tags_div">
                  <div class="editor_pick_item_tags">
                    <div class="sm_tag_item">ASIA</div>
                    <div class="sm_tag_item">BTC</div>
                  </div>

                  <div class="share_icon_style" onclick="openShareDropdown(13)"></div>

                  <div class="share_dropdown_div" id="share_dropdown_div">
                    <div class="share_dropdown_item">
                      <img src="{% static 'img/share/copy_link.svg' %}" alt="link_icon" />
                      <p class="share_dropdown_item_text">Copy link</p>
                    </div>
              
                    <div class="share_dropdown_item">
                      <img src="{% static 'img/share/linkedin_icon.svg' %}" alt="link_icon" />
                      <p class="share_dropdown_item_text">LinkedIn</p>
                    </div>
              
                    <div class="share_dropdown_item">
                      <img src="{% static 'img/share/telegram_icon.svg' %}" alt="link_icon" />
                      <p class="share_dropdown_item_text">Telegram</p>
                    </div>
              
                    <div class="share_dropdown_item">
                      <img src="{% static 'img/share/twitter_icon.svg' %}" alt="link_icon" />
                      <p class="share_dropdown_item_text">Twitter</p>
                    </div>
                  </div>


                </div>
              </div>
            </div>

            <div class="editor_pick_item" id="12">
              <div class="editor_pick_item_image">
                <div class="editor_pick_item_date">23 min ago</div>
              </div>
              <div class="editor_pick_item_description_div">
                <div class="editor_pick_item_description_text">Asia's crypto regulatory landscape changed in 2023 with Hong Kong at the lead</div>
                <div class="editor_pick_item_tags_div">
                  <div class="editor_pick_item_tags">
                    <div class="sm_tag_item">ASIA</div>
                    <div class="sm_tag_item">BTC</div>
                  </div>

                  <div class="share_icon_style" onclick="openShareDropdown(12)"></div>

                  <div class="share_dropdown_div" id="share_dropdown_div">
                    <div class="share_dropdown_item">
                      <img src="{% static 'img/share/copy_link.svg' %}" alt="link_icon" />
                      <p class="share_dropdown_item_text">Copy link</p>
                    </div>
              
                    <div class="share_dropdown_item">
                      <img src="{% static 'img/share/linkedin_icon.svg' %}" alt="link_icon" />
                      <p class="share_dropdown_item_text">LinkedIn</p>
                    </div>
              
                    <div class="share_dropdown_item">
                      <img src="{% static 'img/share/telegram_icon.svg' %}" alt="link_icon" />
                      <p class="share_dropdown_item_text">Telegram</p>
                    </div>
              
                    <div class="share_dropdown_item">
                      <img src="{% static 'img/share/twitter_icon.svg' %}" alt="link_icon" />
                      <p class="share_dropdown_item_text">Twitter</p>
                    </div>
                  </div>


                </div>
              </div>
            </div>

            <div class="editor_pick_item" id="11">
              <div class="editor_pick_item_image">
                <div class="editor_pick_item_date">23 min ago</div>
              </div>
              <div class="editor_pick_item_description_div">
                <div class="editor_pick_item_description_text">Asia's crypto regulatory landscape changed in 2023 with Hong Kong at the lead</div>
                <div class="editor_pick_item_tags_div">
                  <div class="editor_pick_item_tags">
                    <div class="sm_tag_item">ASIA</div>
                    <div class="sm_tag_item">BTC</div>
                  </div>

                  <div class="share_icon_style" onclick="openShareDropdown(11)"></div>

                  <div class="share_dropdown_div" id="share_dropdown_div">
                    <div class="share_dropdown_item">
                      <img src="{% static 'img/share/copy_link.svg' %}" alt="link_icon" />
                      <p class="share_dropdown_item_text">Copy link</p>
                    </div>
              
                    <div class="share_dropdown_item">
                      <img src="{% static 'img/share/linkedin_icon.svg' %}" alt="link_icon" />
                      <p class="share_dropdown_item_text">LinkedIn</p>
                    </div>
              
                    <div class="share_dropdown_item">
                      <img src="{% static 'img/share/telegram_icon.svg' %}" alt="link_icon" />
                      <p class="share_dropdown_item_text">Telegram</p>
                    </div>
              
                    <div class="share_dropdown_item">
                      <img src="{% static 'img/share/twitter_icon.svg' %}" alt="link_icon" />
                      <p class="share_dropdown_item_text">Twitter</p>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="editor_pick_item" id="10">
              <div class="editor_pick_item_image">
                <div class="editor_pick_item_date">23 min ago</div>
              </div>
              <div class="editor_pick_item_description_div">
                <div class="editor_pick_item_description_text">Asia's crypto regulatory landscape changed in 2023 with Hong Kong at the lead</div>
                <div class="editor_pick_item_tags_div">
                  <div class="editor_pick_item_tags">
                    <div class="sm_tag_item">ASIA</div>
                    <div class="sm_tag_item">BTC</div>
                  </div>

                  <div class="share_icon_style" onclick="openShareDropdown(10)"></div>

                  <div class="share_dropdown_div" id="share_dropdown_div">
                    <div class="share_dropdown_item">
                      <img src="{% static 'img/share/copy_link.svg' %}" alt="link_icon" />
                      <p class="share_dropdown_item_text">Copy link</p>
                    </div>
              
                    <div class="share_dropdown_item">
                      <img src="{% static 'img/share/linkedin_icon.svg' %}" alt="link_icon" />
                      <p class="share_dropdown_item_text">LinkedIn</p>
                    </div>
              
                    <div class="share_dropdown_item">
                      <img src="{% static 'img/share/telegram_icon.svg' %}" alt="link_icon" />
                      <p class="share_dropdown_item_text">Telegram</p>
                    </div>
              
                    <div class="share_dropdown_item">
                      <img src="{% static 'img/share/twitter_icon.svg' %}" alt="link_icon" />
                      <p class="share_dropdown_item_text">Twitter</p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
 
          </div>
      
        </div>

      </section>
    </article>

    <article class="timeline_tags_article">
      <div class="timeline_tags_div">
        <aside class="tags_sidebar_aside" id="tags_sidebar_aside">
          <div class="timeline_tags_div_sticky">
            <div class="timeline_tags_div_flex">
              <div class="timeline_tags_filter_div">
                <div class="timeline_calendar_search_div">

                <div class="timeline_calendar_select_div">

                  <div class="timeline_calendar_div" id="timeline_calendar_div" onclick="toggleOptions()">
                    <div class="timeline_current_calendar" id="timeline_calendar">
                      <p class="timeline_calendar_current_option" id="timeline_calendar_selected_button">
                        Today
                      </p>
                      <img 
                        src="{% static 'img/timelineTags/dropdown_arrow.svg' %}"
                        id="dropdown_arrow"
                        alt="dropdown_arrow" 
                      />
                    </div>
                  </div>

                  <div class="timeline_dropdown_div" id="timeline_dropdown_div">
                    <div class="timeline_dropdown" id="timeline_dropdown">
                      <div class="timeline_calendar_option" onclick="selectOption(this)">Today</div>
                      <div class="timeline_calendar_option" onclick="selectOption(this)">Yesterday</div>
                      <div class="timeline_calendar_option" onclick="selectOption(this)">Last Week</div>
                      <div class="timeline_calendar_option" onclick="selectOption(this)">Last Month</div>
                      <div class="timeline_calendar_option" onclick="selectOption(this)">Last Half-Year</div>
                      <div class="timeline_calendar_option" onclick="selectOption(this)">Last Year</div>
                    </div>
                  </div>

                </div>


                  <div class="timeline_search_input_div">
                    <img src="{% static 'img/timelineTags/search.svg' %}" id="search_icon" alt="search_icon" />

                    <div class="search_max_vector_div" id="search_max_vector_div">
                      <img src="{% static 'img/timelineTags/search_max_vector.svg' %}" id="search_max_vector" alt="search_max_vector" />
                    </div>
                    <input type="text" class="timeline_search_input" id="timeline_search_input" placeholder="Search" />
                  </div>
                </div>

                <div class="timeline_main_tags_div">
                  <div class="timeline_categories_projects_tags_div">
                    <h3 class="timeline_categories_projects_tags_title">Categories</h3>

                    <div class="timeline_categories_projects_tags_div_flex">
                      <div class="timeline_categories_projects_tags_flex">
                       {% for tag in tags_posts %}
                          <div class="big_tag_item">
                            <a class="href_tag" >{{ tag }}</a>
                          </div>
                        {% endfor %}
                        {% for tag in tags_posts %}
                          <div class="big_tag_item">
                            <a class="href_tag">{{ tag }}</a>
                          </div>
                        {% endfor %}
                        {% for tag in tags_posts %}
                          <div class="big_tag_item">
                            <a class="href_tag">{{ tag }}</a>
                          </div>
                        {% endfor %}
                      </div>
                    </div>

                  </div>
                  <div class="timeline_categories_projects_tags_div">
                    <h3 class="timeline_categories_projects_tags_title">Projects</h3>

                    <div class="timeline_categories_projects_tags_div_flex">
                      <div class="timeline_categories_projects_tags_flex">
                        {% for tag in tags_rating %}
                          <div class="big_tag_item">
                            <a class="href_tag" >{{ tag }}</a>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                  <div class="timeline_tags_apply_button_div">
                    <button class="timeline_tags_apply_button" id="timeline_tags_apply_button">Apply</button>
                  </div>
                </div>
              </div>
              <div class="timeline_tags_shevron_div" id="timeline_tags_shevron_div">
                <img src="{% static 'img/timelineTags/shevron.svg' %}" class="shevron_icon_style" id="shevron_icon" alt="shevron_icon" />
              </div>
            </div>
          </div>
        </aside>

        <div class="timeline_div_flex" id="timeline_div_flex">
          <div class="projects_section">
            <article class="news_project_article_flex">

              {% comment %}Timeline title{% endcomment %}

              <div class="timeline_title_div">
                <h3 class="timeline_title">Timeline</h3>
                <img src="{% static 'img/timelineTags/timeline_Divider.svg' %}" class="timeline_divider" alt="timeline_divider_icon" />
              </div>

              {% comment %}Items div 1{% endcomment %}

              <div class="news_projects_items_div">
                <div class="project_section_vertical_line_orange_circle_div">
                  <div class="project_section_orange_circle_div">
                    <img src="{% static 'img/timelineTags/orange_circle.svg' %}" alt="orange_circle_icon" />
                  </div>
                  <div class="project_section_vertical_line_div"></div>
                </div>

                <div class="news_project_section_date_items_div">
                  <div class="news_project_section_date_m_d">December 26</div>

                  {% comment %}Item 1{% endcomment %}

                  <div class="news_project_div" id="1">
                    <div class="news_project_item_time">12:37</div>
                    <div class="news_project_image"></div>

                    <div class="news_project_description_tags_div">
                      <div class="news_project_description">
                        <div class="news_project_description_title">Ethereum developers have activated the Dencun hard fork in the Goerli testnet</div>
                        <div class="news_project_description_text">Mainstream Ethereum has deployed the Dencun update (Cancun-Deneb team) to the Goerli testnet. However, the planned hard fork failed.</div>
                      </div>
                      <div class="news_project_tags_share_div">
                        <div class="news_project_tags_div">
                          <div class="sm_tag_item">ASIA</div>
                          <div class="sm_tag_item">BTC</div>
                        </div>

                        <div class="share_icon_style" onclick="openShareDropdown(1)"></div>

                        <div class="share_dropdown_div" id="share_dropdown_div">
                          <div class="share_dropdown_item">
                            <img src="{% static 'img/share/copy_link.svg' %}" alt="link_icon" />
                            <p class="share_dropdown_item_text">Copy link</p>
                          </div>
                    
                          <div class="share_dropdown_item">
                            <img src="{% static 'img/share/linkedin_icon.svg' %}" alt="link_icon" />
                            <p class="share_dropdown_item_text">LinkedIn</p>
                          </div>
                    
                          <div class="share_dropdown_item">
                            <img src="{% static 'img/share/telegram_icon.svg' %}" alt="link_icon" />
                            <p class="share_dropdown_item_text">Telegram</p>
                          </div>
                    
                          <div class="share_dropdown_item">
                            <img src="{% static 'img/share/twitter_icon.svg' %}" alt="link_icon" />
                            <p class="share_dropdown_item_text">Twitter</p>
                          </div>
                        </div>
      
                      </div>
                    </div>
                  </div>

                  {% comment %}Item 2{% endcomment %}

                  <div class="news_project_div" id="2">
                    <div class="news_project_item_time">12:37</div>
                    <div class="news_project_image"></div>

                    <div class="news_project_description_tags_div">
                      <div class="news_project_description">
                        <div class="news_project_description_title">Ethereum developers have activated the Dencun hard fork in the Goerli testnet</div>
                        <div class="news_project_description_text">Mainstream Ethereum has deployed the Dencun update (Cancun-Deneb team) to the Goerli testnet. However, the planned hard fork failed.</div>
                      </div>
                      <div class="news_project_tags_share_div">
                        <div class="news_project_tags_div">
                          <div class="sm_tag_item">ASIA</div>
                          <div class="sm_tag_item">BTC</div>
                        </div>
                        <div class="share_icon_style" onclick="openShareDropdown(2)"></div>

                        <div class="share_dropdown_div" id="share_dropdown_div">
                          <div class="share_dropdown_item">
                            <img src="{% static 'img/share/copy_link.svg' %}" alt="link_icon" />
                            <p class="share_dropdown_item_text">Copy link</p>
                          </div>
                    
                          <div class="share_dropdown_item">
                            <img src="{% static 'img/share/linkedin_icon.svg' %}" alt="link_icon" />
                            <p class="share_dropdown_item_text">LinkedIn</p>
                          </div>
                    
                          <div class="share_dropdown_item">
                            <img src="{% static 'img/share/telegram_icon.svg' %}" alt="link_icon" />
                            <p class="share_dropdown_item_text">Telegram</p>
                          </div>
                    
                          <div class="share_dropdown_item">
                            <img src="{% static 'img/share/twitter_icon.svg' %}" alt="link_icon" />
                            <p class="share_dropdown_item_text">Twitter</p>
                          </div>
                        </div>
      
                      </div>
                    </div>
                  </div>

                  {% comment %}Item 3{% endcomment %}

                  <div class="news_project_div" id="3">
                    <div class="news_project_item_time">12:37</div>
                    <div class="news_project_image"></div>

                    <div class="news_project_description_tags_div">
                      <div class="news_project_description">
                        <div class="news_project_description_title">Ethereum developers have activated the Dencun hard fork in the Goerli testnet</div>
                        <div class="news_project_description_text">Mainstream Ethereum has deployed the Dencun update (Cancun-Deneb team) to the Goerli testnet. However, the planned hard fork failed.</div>
                      </div>
                      <div class="news_project_tags_share_div">
                        <div class="news_project_tags_div">
                          <div class="sm_tag_item">ASIA</div>
                          <div class="sm_tag_item">BTC</div>
                        </div>
                        <div class="share_icon_style" onclick="openShareDropdown(3)"></div>

                        <div class="share_dropdown_div" id="share_dropdown_div">
                          <div class="share_dropdown_item">
                            <img src="{% static 'img/share/copy_link.svg' %}" alt="link_icon" />
                            <p class="share_dropdown_item_text">Copy link</p>
                          </div>
                    
                          <div class="share_dropdown_item">
                            <img src="{% static 'img/share/linkedin_icon.svg' %}" alt="link_icon" />
                            <p class="share_dropdown_item_text">LinkedIn</p>
                          </div>
                    
                          <div class="share_dropdown_item">
                            <img src="{% static 'img/share/telegram_icon.svg' %}" alt="link_icon" />
                            <p class="share_dropdown_item_text">Telegram</p>
                          </div>
                    
                          <div class="share_dropdown_item">
                            <img src="{% static 'img/share/twitter_icon.svg' %}" alt="link_icon" />
                            <p class="share_dropdown_item_text">Twitter</p>
                          </div>
                        </div>
      
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              {% comment %}Items second div{% endcomment %}

              <div class="news_projects_items_div">
                <div class="project_section_vertical_line_orange_circle_div">
                  <div class="project_section_orange_circle_div">
                    <img src="{% static 'img/timelineTags/orange_circle.svg' %}" alt="orange_circle_icon" />
                  </div>
                  <div class="project_section_vertical_line_div"></div>
                </div>

                <div class="news_project_section_date_items_div">
                  <div class="news_project_section_date_m_d">December 26</div>

                  {% comment %}Item 1{% endcomment %}

                  <div class="news_project_div" id="4">
                    <div class="news_project_item_time">12:37</div>
                    <div class="news_project_image"></div>

                    <div class="news_project_description_tags_div">
                      <div class="news_project_description">
                        <div class="news_project_description_title">Ethereum developers have activated the Dencun hard fork in the Goerli testnet</div>
                        <div class="news_project_description_text">Mainstream Ethereum has deployed the Dencun update (Cancun-Deneb team) to the Goerli testnet. However, the planned hard fork failed.</div>
                      </div>
                      <div class="news_project_tags_share_div">
                        <div class="news_project_tags_div">
                          <div class="sm_tag_item">ASIA</div>
                          <div class="sm_tag_item">BTC</div>
                        </div>
                        <div class="share_icon_style" onclick="openShareDropdown(4)"></div>

                        <div class="share_dropdown_div" id="share_dropdown_div">
                          <div class="share_dropdown_item">
                            <img src="{% static 'img/share/copy_link.svg' %}" alt="link_icon" />
                            <p class="share_dropdown_item_text">Copy link</p>
                          </div>
                    
                          <div class="share_dropdown_item">
                            <img src="{% static 'img/share/linkedin_icon.svg' %}" alt="link_icon" />
                            <p class="share_dropdown_item_text">LinkedIn</p>
                          </div>
                    
                          <div class="share_dropdown_item">
                            <img src="{% static 'img/share/telegram_icon.svg' %}" alt="link_icon" />
                            <p class="share_dropdown_item_text">Telegram</p>
                          </div>
                    
                          <div class="share_dropdown_item">
                            <img src="{% static 'img/share/twitter_icon.svg' %}" alt="link_icon" />
                            <p class="share_dropdown_item_text">Twitter</p>
                          </div>
                        </div>
      
                      </div>
                    </div>
                  </div>

                  {% comment %}Item 2{% endcomment %}

                  <div class="news_project_div" id="5">
                    <div class="news_project_item_time">12:37</div>
                    <div class="news_project_image"></div>

                    <div class="news_project_description_tags_div">
                      <div class="news_project_description">
                        <div class="news_project_description_title">Ethereum developers have activated the Dencun hard fork in the Goerli testnet</div>
                        <div class="news_project_description_text">Mainstream Ethereum has deployed the Dencun update (Cancun-Deneb team) to the Goerli testnet. However, the planned hard fork failed.</div>
                      </div>
                      <div class="news_project_tags_share_div">
                        <div class="news_project_tags_div">
                          <div class="sm_tag_item">ASIA</div>
                          <div class="sm_tag_item">BTC</div>
                        </div>

                        <div class="share_icon_style" onclick="openShareDropdown(5)"></div>

                        <div class="share_dropdown_div" id="share_dropdown_div">
                          <div class="share_dropdown_item">
                            <img src="{% static 'img/share/copy_link.svg' %}" alt="link_icon" />
                            <p class="share_dropdown_item_text">Copy link</p>
                          </div>
                    
                          <div class="share_dropdown_item">
                            <img src="{% static 'img/share/linkedin_icon.svg' %}" alt="link_icon" />
                            <p class="share_dropdown_item_text">LinkedIn</p>
                          </div>
                    
                          <div class="share_dropdown_item">
                            <img src="{% static 'img/share/telegram_icon.svg' %}" alt="link_icon" />
                            <p class="share_dropdown_item_text">Telegram</p>
                          </div>
                    
                          <div class="share_dropdown_item">
                            <img src="{% static 'img/share/twitter_icon.svg' %}" alt="link_icon" />
                            <p class="share_dropdown_item_text">Twitter</p>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>


                </div>
              </div>
            </article>
          </div>
        </div>

        <div class="for_sidebar_sticky"></div>
      </div>
    </article>

    <div>
      
    </div>


  </div>  

{% endblock %}
